# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
output/
# C extensions
*.so
*.pem
mark_all_appointments_completed.py  #use to mark all appointments as completed in case of any issues with cron jobs or server timeouts. Run with `python manage.py runscript mark_all_appointments_completed`
# Distribution / packaging
mark_all_appointments_completed.py
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.pyc

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.env.*
!.env.example
project.env
project/env
.venv
venv/
env/
ENV/
bookerenv/
lokesh_env/
project/env/
accounts/env/
newsletter/env/
accounts/templatetags/env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
mac

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Project specific
# migrations/
# */migrations/*

# Datasets
dataset/
dataset_old/
BD3-Dataset/

# Images
*.jpg
*.jpeg
*.png

# YOLO outputs
runs/
output/